@import "main.css";

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: bold;
}
.profile-name,
.profile-lastname {
  margin: 5px;
}
.panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.panel {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 1.8rem;
  padding: 12px;
}
.panel-one {
  padding-left: 16px;
}
.panel-two,
.panel-three {
  margin-top: 20px;
}
.profile-photo {
  width: 250px;
  display: block;
  margin: 20px auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid black;
}
.profile-tel {
  border-radius: 12px;
  padding-top: 8px;
  padding-left: 8px;
  height: 28px;
  background-color: var(--light-background);
}
.tel {
  text-decoration: none;
  color: black;
}
.social-media {
  padding: 0;
}
.linkedin,
.instagram,
.github {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  transition: .3s ease-in-out;
  user-select: none;
}

.github:hover,
.instagram:hover,
.linkedin:hover {
  margin-left: 12px;
}
.github:hover a,
.instagram:hover a,
.linkedin:hover a {
  color: var(--main-color);
}
.social-media img {
  width: 30px;
  margin: 0 8px 0 4px;
}
.social-media a {
  font-size: 1.6rem;
  display: contents;
  color: black;
}
.title {
  margin-top: 0px;
  font-size: 2.8rem;
}
.secondary-title {
  margin: 0px auto;
  font-size: 2.4rem;
}
.studies-list {
  padding-left: 20px;
}
h2, h3 {
  color: var(--main-color);
}
