:root {
    --title-color: #E9EDC9;
    --background-color: #E9EDC9;
}

* {
    border: 1px solid black;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
.panel {
    display: inline-block;
    width: 30vw;
    vertical-align: top;
    height: max-content;
    padding: 8px;
}
.profile-photo {
    width: 250px;
    display: block;
    margin: 20px auto;
    aspect-ratio: 1;
    border-radius: 50%;
}
.profile-info {
    font-size: 2rem;
}
.tel {
    text-decoration: none;
    color: black;
}
.social-media {
    padding: 0;
}
.linkedin, .instagram {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.social-media img {
    width: 30px;
    margin: 0 8px 0 4px;
}
.social-media a {
    font-size: 1.6rem;
    display: contents;
    color: black;
}
