:root {
    --background-color: #FEFAE0;
}

* {
    /*border: 1px solid black;*/
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
.button {
  height: 28px;
  border-radius: 8px;
  transition: .2s ease-in-out;
}
.button a {
  text-decoration: none;
  color: black;
}
.button:hover {
    scale: 1.1;
    background-color: #9dad66;
}