@import "main.css";

.card-section {
  text-align: -webkit-center;
  height: 90vh;
  overflow-y: auto;
}
.card {
  margin-top: 20px;
  padding: 15px;
  max-height: 30vh;
  max-width: 48vw;
  border: 2px dotted black;
  border-radius: 12px;
}
.card-title {
  margin-top: 0;
  font-size: 2rem;
}
.card-text {
  font-size: 1.6rem;
}
.back-button {
  margin: 8px 0 0 8px;
}